In [1]:
import pandas as pd
import numpy as np

In [2]:
population = pd.read_csv (r'C:\Users\Windows 10\Desktop\Hamoye\Stage D\World Population Data.csv',encoding='utf-8-sig')
population.head()

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
0,Aruba,ABW,"Population, total",SP.POP.TOTL,54208.0,55434.0,56234.0,56699.0,57029.0,57357.0,...,102565.0,103165.0,103776.0,104339.0,104865.0,105361.0,105846.0,106310.0,106766.0,107195.0
1,Africa Eastern and Southern,AFE,"Population, total",SP.POP.TOTL,130836765.0,134159786.0,137614644.0,141202036.0,144920186.0,148769974.0,...,547482863.0,562601578.0,578075373.0,593871847.0,609978946.0,626392880.0,643090131.0,660046272.0,677243299.0,694665117.0
2,Afghanistan,AFG,"Population, total",SP.POP.TOTL,8996967.0,9169406.0,9351442.0,9543200.0,9744772.0,9956318.0,...,31161378.0,32269592.0,33370804.0,34413603.0,35383028.0,36296111.0,37171922.0,38041757.0,38928341.0,39835428.0
3,Africa Western and Central,AFW,"Population, total",SP.POP.TOTL,96396419.0,98407221.0,100506960.0,102691339.0,104953470.0,107289875.0,...,370243017.0,380437896.0,390882979.0,401586651.0,412551299.0,423769930.0,435229381.0,446911598.0,458803476.0,470898870.0
4,Angola,AGO,"Population, total",SP.POP.TOTL,5454938.0,5531451.0,5608499.0,5679409.0,5734995.0,5770573.0,...,25107925.0,26015786.0,26941773.0,27884380.0,28842482.0,29816769.0,30809787.0,31825299.0,32866268.0,33933611.0

In [3]:
# creating a new table for selected columns

Newpopulation = population[['Country Name', '2004', '2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013']]
Newpopulation.head()

,Country Name,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013
0,Aruba,98744.0,100028.0,100830.0,101226.0,101362.0,101452.0,101665.0,102050.0,102565.0,103165.0
1,Africa Eastern and Southern,441630149.0,453404076.0,465581372.0,478166911.0,491173160.0,504604672.0,518468229.0,532760424.0,547482863.0,562601578.0
2,Afghanistan,24726689.0,25654274.0,26433058.0,27100542.0,27722281.0,28394806.0,29185511.0,30117411.0,31161378.0,32269592.0
3,Africa Western and Central,297353098.0,305520588.0,313985474.0,322741656.0,331772330.0,341050537.0,350556886.0,360285439.0,370243017.0,380437896.0
4,Angola,18758138.0,19433604.0,20149905.0,20905360.0,21695636.0,22514275.0,23356247.0,24220660.0,25107925.0,26015786.0

In [4]:
# creating new table for selected rows
PopulationData = Newpopulation[population['Country Name'].isin(['Algeria', 'Angola', 'Benin', 'Botswana', 'Burkina Faso', 'Cabo Verde', 'Cameroon', 'Central African Republic', 'Chad', 'Congo', 'Djibouti', 'Egypt,Arab Rep.', 'Ethiopia', 'Gabon', 'Gambia', 'Ghana', 'Guinea', 'Guinea-Bissau', 'Kenya', 'Lesotho', 'Liberia', 'Madagascar', 'Malawi', 'Mali', 'Mauritania', 'Mauritius', 'Morocco', 'Mozambique', 'Namibia', 'Niger', 'Nigeria', 'Rwanda', 'Sao Tome and Principe', 'Senegal', 'Sierra Leone' 'South Africa', 'Sudan', 'Swaziland', 'Togo', 'Tunisia', 'Uganda', 'United Republic of Tanzania', 'Zambia', 'Zimbabwe', 'Cote dIvoire']) ]
print(PopulationData)

                 Country Name         2004         2005         2006  \
4                      Angola   18758138.0   19433604.0   20149905.0
18                      Benin    7750003.0    7982223.0    8216893.0
19               Burkina Faso   13030576.0   13421935.0   13829173.0
33                   Botswana    1765533.0    1799077.0    1835911.0
34   Central African Republic    3959883.0    4038380.0    4118075.0
42                   Cameroon   17259322.0   17733408.0   18223677.0
47                 Cabo Verde     456619.0     463034.0     469171.0
56                   Djibouti     771599.0     783248.0     794554.0
60                    Algeria   32692153.0   33149720.0   33641007.0
72                   Ethiopia   74239508.0   76346310.0   78489205.0
80                      Gabon    1353788.0    1390550.0    1430144.0
83                      Ghana   21272328.0   21814648.0   22379057.0
85                     Guinea    8925729.0    9109585.0    9307421.0
87              Guinea-Bissau    1313492.0    1344931.0    1377582.0
121                     Kenya   35635267.0   36624897.0   37649039.0
131                   Liberia    3135654.0    3218114.0    3329211.0
141                   Lesotho    2005953.0    1996115.0    1989933.0
148                   Morocco   30115196.0   30455563.0   30804689.0
151                Madagascar   17802992.0   18336722.0   18880265.0
158                      Mali   12369078.0   12775509.0   13203378.0
165                Mozambique   19910549.0   20493927.0   21080108.0
166                Mauritania    2939246.0    3024198.0    3111908.0
167                 Mauritius    1221003.0    1228254.0    1233996.0
168                    Malawi   12301837.0   12625950.0   12973693.0
171                   Namibia    1907737.0    1938316.0    1971318.0
173                     Niger   13125914.0   13624474.0   14143969.0
174                   Nigeria  135320420.0  138865014.0  142538305.0
203                    Rwanda    8680516.0    8840220.0    9043342.0
206                     Sudan   30214189.0   30949514.0   31661824.0
207                   Senegal   10810086.0   11090123.0   11382272.0
219     Sao Tome and Principe     153736.0     157472.0     161676.0
229                      Chad    9734761.0   10096630.0   10457122.0
232                      Togo    5467770.0    5611643.0    5762881.0
243                   Tunisia   10022278.0   10106778.0   10201211.0
247                    Uganda   26821300.0   27684590.0   28571475.0
264                    Zambia   11550641.0   11856244.0   12173518.0
265                  Zimbabwe   12019911.0   12076697.0   12155496.0

            2007         2008         2009         2010         2011  \
4     20905360.0   21695636.0   22514275.0   23356247.0   24220660.0
18     8454790.0    8696915.0    8944713.0    9199254.0    9460829.0
19    14252029.0   14689725.0   15141098.0   15605211.0   16081915.0
33     1875458.0    1915636.0    1953495.0    1987106.0    2015406.0
34     4198004.0    4273368.0    4337623.0    4386765.0    4418639.0
42    18730283.0   19252674.0   19789922.0   20341236.0   20906392.0
47      475067.0     480846.0     486667.0     492644.0     498858.0
56      805456.0     816361.0     827820.0     840194.0     853671.0
60    34166976.0   34730604.0   35333882.0   35977451.0   36661438.0
72    80674343.0   82916236.0   85233923.0   87639962.0   90139928.0
80     1472565.0    1518538.0    1568925.0    1624146.0    1684629.0
83    22963946.0   23563832.0   24170943.0   24779614.0   25387713.0
85     9518159.0    9738796.0    9964470.0   10192168.0   10420459.0
87     1411545.0    1446936.0    1483920.0    1522603.0    1562996.0
121   38705934.0   39791984.0   40901798.0   42030684.0   43178270.0
131    3461911.0    3607863.0    3754129.0    3891357.0    4017446.0
141    1986926.0    1987130.0    1990135.0    1995575.0    2003793.0
148   31163670.0   31536807.0   31929087.0   32343384.0   32781860.0
151   19433520.0   19996476.0   20569115.0   21151640.0   21743970.0
158   13651455.0   14113578.0   14581427.0   15049352.0   15514593.0
165   21673319.0   22276596.0   22894718.0   23531567.0   24187500.0
166    3202512.0    3296237.0    3393408.0    3494200.0    3598646.0
167    1239630.0    1244121.0    1247429.0    1250400.0    1252404.0
168   13341808.0   13727899.0   14128161.0   14539609.0   14962118.0
171    2006516.0    2043382.0    2081039.0    2118877.0    2156698.0
173   14685404.0   15250913.0   15843131.0   16464025.0   17114770.0
174  146339971.0  150269622.0  154324939.0  158503203.0  162805080.0
203    9273759.0    9524532.0    9782770.0   10039338.0   10293333.0
206   32360619.0   33060844.0   33783779.0   34545014.0   35349676.0
207   11687078.0   12004700.0   12335092.0   12678143.0   13033814.0
219     166297.0     171122.0     175877.0     180372.0     184521.0
229   10818031.0   11183589.0   11560142.0   11952134.0   12360986.0
232    5920360.0    6083417.0    6250840.0    6421674.0    6595939.0
243   10304729.0   10414425.0   10525691.0   10635245.0   10741872.0
247   29486335.0   30431734.0   31411096.0   32428164.0   33476772.0
264   12502958.0   12848531.0   13215142.0   13605986.0   14023199.0
265   12255920.0   12379553.0   12526964.0   12697728.0   12894323.0

            2012         2013
4     25107925.0   26015786.0
18     9729254.0   10004594.0
19    16571252.0   17072791.0
33     2039551.0    2062551.0
34     4436411.0    4447945.0
42    21485267.0   22077300.0
47      505241.0     511740.0
56      868136.0     883296.0
60    37383899.0   38140135.0
72    92726982.0   95385793.0
80     1749677.0    1817070.0
83    25996454.0   26607641.0
85    10652032.0   10892821.0
87     1604981.0    1648259.0
121   44343469.0   45519986.0
131    4135662.0    4248337.0
141    2014988.0    2028528.0
148   33241898.0   33715705.0
151   22346641.0   22961259.0
158   15979492.0   16449854.0
165   24862673.0   25560752.0
166    3706555.0    3817497.0
167    1255882.0    1258653.0
168   15396010.0   15839287.0
171    2194777.0    2233506.0
173   17795209.0   18504287.0
174  167228803.0  171765819.0
203   10549668.0   10811538.0
206   36193781.0   37072555.0
207   13401990.0   13782429.0
219     188394.0     192076.0
229   12784748.0   13220433.0
232    6773807.0    6954721.0
243   10846993.0   10952949.0
247   34558700.0   35694519.0
264   14465148.0   14926551.0
265   13115149.0   13350378.0

In [5]:
# Replace missing values with mean of row
popDataset = PopulationData.fillna(PopulationData.mean())

C:\Users\Windows 10\AppData\Local\Temp\ipykernel_2688\1039721734.py:2: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  popDataset = PopulationData.fillna(PopulationData.mean())

In [6]:
popDataset.to_csv(r'C:\Users\Windows 10\Desktop\Hamoye\Stage D\African Population.csv', index=False)

In [7]:
print(popDataset.isnull().sum())

Country Name    0
2004            0
2005            0
2006            0
2007            0
2008            0
2009            0
2010            0
2011            0
2012            0
2013            0
dtype: int64

In [8]:
NumberOfCountry=popDataset['Country Name'].nunique()
print(NumberOfCountry)

37

In [9]:
popDataset.head()

,Country Name,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013
4,Angola,18758138.0,19433604.0,20149905.0,20905360.0,21695636.0,22514275.0,23356247.0,24220660.0,25107925.0,26015786.0
18,Benin,7750003.0,7982223.0,8216893.0,8454790.0,8696915.0,8944713.0,9199254.0,9460829.0,9729254.0,10004594.0
19,Burkina Faso,13030576.0,13421935.0,13829173.0,14252029.0,14689725.0,15141098.0,15605211.0,16081915.0,16571252.0,17072791.0
33,Botswana,1765533.0,1799077.0,1835911.0,1875458.0,1915636.0,1953495.0,1987106.0,2015406.0,2039551.0,2062551.0
34,Central African Republic,3959883.0,4038380.0,4118075.0,4198004.0,4273368.0,4337623.0,4386765.0,4418639.0,4436411.0,4447945.0

In [10]:
display(popDataset.dtypes)

Country Name     object
2004            float64
2005            float64
2006            float64
2007            float64
2008            float64
2009            float64
2010            float64
2011            float64
2012            float64
2013            float64
dtype: object