In [1]:
import pandas as pd
import numpy as np

In [2]:
supply = pd.read_csv (r'C:\Users\Windows 10\Desktop\Hamoye\Stage D\Africa Food Supply (2004 - 2013).csv',encoding='latin-1')
supply.head()

   Country  Year  Value
0  Algeria  2004   2987
1  Algeria  2005   2958
2  Algeria  2006   3047
3  Algeria  2007   3041
4  Algeria  2008   3048

In [3]:
production = pd.read_csv (r'C:\Users\Windows 10\Desktop\Hamoye\Stage D\Africa Food Production (2004 - 2013).csv',encoding='latin-1')
production.head()

   Country                Item  Year  Value
0  Algeria  Wheat and products  2004   2731
1  Algeria  Wheat and products  2005   2415
2  Algeria  Wheat and products  2006   2688
3  Algeria  Wheat and products  2007   2319
4  Algeria  Wheat and products  2008   1111

In [4]:
# Question 1 - Which three countries had the lowest food supply between 2004 and 2006 respectively(inclusive)?

# Keep rows where Year <= 2006
supplyData = supply.loc[supply['Year'] <= 2006]

# Group by and aggregate
groupedLowsupply = supplyData.groupby(['Country']).agg(Value_sum=('Value', 'sum')).reset_index()

# Sort column(s) Value_sum ascending
LowSupplyCountry = groupedLowsupply.sort_values(by=['Value_sum'], ascending=[True])
print(LowSupplyCountry)

                        Country  Value_sum
43                       Zambia       5577
13                     Ethiopia       5827
7      Central African Republic       6044
32                       Rwanda       6050
8                          Chad       6082
22                   Madagascar       6123
44                     Zimbabwe       6184
28                   Mozambique       6208
1                        Angola       6226
35                 Sierra Leone       6261
19                        Kenya       6344
21                      Liberia       6368
42  United Republic of Tanzania       6373
9                         Congo       6449
3                      Botswana       6539
23                       Malawi       6626
11                     Djibouti       6715
29                      Namibia       6741
39                         Togo       6767
18                Guinea-Bissau       6783
34                      Senegal       6795
37                        Sudan       6898
6                      Cameroon       6911
41                       Uganda       6954
38                    Swaziland       7166
15                       Gambia       7304
30                        Niger       7339
2                         Benin       7346
17                       Guinea       7372
4                  Burkina Faso       7527
5                    Cabo Verde       7553
33        Sao Tome and Principe       7613
20                      Lesotho       7703
24                         Mali       7777
25                   Mauritania       7831
31                      Nigeria       8085
14                        Gabon       8107
16                        Ghana       8257
10                Cote d'Ivoire       8308
36                 South Africa       8819
0                       Algeria       8992
26                    Mauritius       9054
27                      Morocco       9740
40                      Tunisia       9741
12                        Egypt      10065

In [5]:
# Question 4 - Which country produced the highest amount of oats in 2010?

# Keep rows where Item contains Oats
oatData = production.loc[production['Item'].str.contains('Oats')]

# Keep rows where Year == 2010
oatYear = oatData.loc[production['Year'] == 2010]

# Sort column(s) Value descending
highOatProd = oatYear.sort_values(by=['Value'], ascending=[False])
print(highOatProd)

            Country  Item  Year  Value
46          Algeria  Oats  2010     88
6406       Ethiopia  Oats  2010     48
13186       Morocco  Oats  2010     37
17816  South Africa  Oats  2010     34
9286          Kenya  Oats  2010      3
20056       Tunisia  Oats  2010      2
22516      Zimbabwe  Oats  2010      1
7746          Ghana  Oats  2010      0
10026       Lesotho  Oats  2010      0

In [6]:
# Question 5 - What three countries have produced the highest total quantity of rice from 2004 to 2013?

# Keep rows where Item contains rice
riceData = production.loc[production['Item'].str.contains('Rice')]

# Group by and aggregate
groupedRice = riceData.groupby(['Country']).agg(Value_sum=('Value', 'sum')).reset_index()

# Sort column(s) Value_sum descending
highRiceProd = groupedRice.sort_values(by=['Value_sum'], ascending=[False])
print(highRiceProd)

                        Country  Value_sum
9                         Egypt      40370
26                      Nigeria      26964
18                   Madagascar      26118
35  United Republic of Tanzania      10956
14                       Guinea      10400
20                         Mali      10371
8                 Cote d'Ivoire       6439
29                 Sierra Leone       6038
28                      Senegal       2462
13                        Ghana       2443
17                      Liberia       1602
3                  Burkina Faso       1265
34                       Uganda       1234
6                          Chad       1167
24                   Mozambique       1110
15                Guinea-Bissau       1030
2                         Benin        850
4                      Cameroon        767
21                   Mauritania        751
19                       Malawi        674
33                         Togo        653
16                        Kenya        504
27                       Rwanda        482
10                     Ethiopia        469
12                       Gambia        325
23                      Morocco        274
25                        Niger        267
5      Central African Republic        261
36                       Zambia        212
31                        Sudan        170
1                        Angola        103
30                 South Africa         22
11                        Gabon         10
7                         Congo         10
37                     Zimbabwe          1
22                    Mauritius          1
32                    Swaziland          0
0                       Algeria          0